<div
(click)="changeState()"
(mousedown)="infoClick = 'mousedown'"
[@clickedState]="infoClick"></div>

<p
(click)="paragraphClick= 'clicked'"
[@clickedState]="paragraphClick"
>Some text</p>
<hr>
<input type="number" (input)="numberEntered = $event.target.value">
<br><br>
<span [@numberEnteredState]="numberEntered == 1 ? 'selected' : 'unselected'">1</span>
<span [@numberEnteredState]="numberEntered == 2 ? 'selected' : 'unselected'">2</span>
<span [@numberEnteredState]="numberEntered == 3 ? 'selected' : 'unselected'">3</span>
<span [@numberEnteredState]="numberEntered == 4 ? 'selected' : 'unselected'">4</span>
<span [@numberEnteredState]="numberEntered == 5 ? 'selected' : 'unselected'">5</span>
<span [@numberEnteredState]="numberEntered == 6 ? 'selected' : 'unselected'">6</span>
<span [@numberEnteredState]="numberEntered == 7 ? 'selected' : 'unselected'">7</span>
<span [@numberEnteredState]="numberEntered == 8 ? 'selected' : 'unselected'">8</span>
<span [@numberEnteredState]="numberEntered == 9 ? 'selected' : 'unselected'">9</span>
<span [@numberEnteredState]="numberEntered == 0 ? 'selected' : 'unselected'">0</span>




<hr>
<!-- Part from starting with animations-->
<app-goals *ngFor="let goal of courseGoals" [goal]="goal" 
[ngClass]="{active: goal.isActiveGoal}"
(click)="goal.isActiveGoal = !goal.isActiveGoal">
  
</app-goals>
<!-- Tag app-goals to komponent goals zagnieżdzony w app.component 
Komponent app przekazuje obiekt goal komponentowi goals (w goals-component jest @Input)
goals-component-html przez interpolację wyświetla obiekt {{goal.title}}
-->

<div id="div1" (click)="divClicked=true"
[ngClass]="{'wide': divClicked}"
[ngStyle]="{backgroundColor: divClicked ? 'red' : 'blue'}"
>
</div>
<hr>
<div id="div2"
(click)="doAnimate = true"
[ngClass]="{'animate': doAnimate}"></div>
