.active {
    background-color: green;
}

.critical {
    background-color: red;
}

:host{
    display: block;
    border-radius: 3px;
    margin-top: 20px;
    box-shadow: 3px 3px 2px #ccc;
    /* Styl nieaktywny po zastosowaniu animacji Angular 
    border-top: 2px solid #eee;
    border-left: 1px solid #eee;
    padding: 0 20px 20px 20px;
    transition: border-color 0.5s ease-out; */
}

.status-label{
    display: block;
    width: 100px;
    height: 30px;
    margin-top: 25px;
    font-size: inherit;
    line-height: 1.75;
    font-weight: inherit;
    
}

:host(.inactive) {
    color: #eee;
}

/* Styl nieaktywny po zastosowaniu animacji Angular*/
/* :host(.selected) {
    padding: 0 18px 18px 19px;
} */
