<div class="row ">
  <div class="col-xs-8">
    <h3 [ngStyle]="{'text-decoration': selected ? 'underline' : 'none'}">
      {{ project.name }}
      <!-- Show different usages of ngClass and ngStyle"-->
    </h3>
  </div>
  <div class="col-xs-4">
  <span class="label status-label" 
  [ngClass]="getStatusClass()"
    >{{ project.status }}</span>
  <!-- [ngClass]="{'active':project.status === 'active','critical':project.status === 'critical'}" -->
  </div>
</div>
<p>{{ project.description }}</p>
<select #prjStatus class="form-control status">
  <option value="active" [selected]="project.status === 'active'">Active</option>
  <option value="inactive" [selected]="project.status === 'inactive'">Inactive</option>
  <option value="critical" [selected]="project.status === 'critical'">Critical</option>
</select>
<button class="btn btn-primary" (click)="onUpdateStatus(prjStatus.value)">Update Status</button>
<button class="btn btn-danger" (click)="onDelete()">Delete Project</button>